#tools * {
    box-sizing: border-box;
}

#tools h3 {
    font-weight: bold;
}

#tools .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

#tools .row {
    margin: 0 -5px;
}

#tools .row:after {
    content: "";
    display: table;
    clear: both;
}

#tools .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    #tools .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
