#tools * {
    box-sizing: border-box;
}

#tools .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

#tools .row {
    margin: 0 -5px;
}

#tools .row:after {
    content: "";
    display: table;
    clear: both;
}

#tools .content {
    background-color: #ffffffc1;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#tools .content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    #tools .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
