#tools * {
    box-sizing: border-box;
}

#tools a {
    text-decoration: none;
    color: #000;
}

#tools a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#tools h3 {
    font-weight: bold;
}

#tools .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

#tools .img-holder {
    height: 200px;
}

#tools .text-holder {
    height: 250px;
}

#tools img {
    max-height: 200px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tools .row {
    margin: 0 -5px;
}

#tools .row:after {
    content: "";
    display: table;
    clear: both;
}

#tools .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

#tools .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 800px) {
    #tools .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
